<!DOCTYPE html>
<html>
    <head>
        <?php //$head; ?>
    </head>
    <body>
    <center>
        <section class="marco_general">
            <header class="seccion_actual">
                <h1><?php //$seccion; ?></h1>
            </header><!-- Termina seccion_actual[header] -->
            <section class="area_principal">
                
                <?php //$contenido; ?>
            </section>
            <nav class="pie_principal">
                <?php //$footer; ?>
            </nav><!-- Termina pie_principal[footer] -->
        </section><!-- Termina marco_general[section] -->
    </center>
    </body>
</html>